nav,
body {
  font-family: "Roboto Condensed", sans-serif;
}

.container-fluid {
  max-width: 1320px;
}

.date {
  color: white;
  font-size: 15px;
}

.newsweek-logo {
  height: 100px;
  width: 500px;
}

.login {
  color: white;
  font-size: 16px;
}

.btn-warning {
  border-radius: 24px;
}

.right-arrow {
  width: 18px;
  height: 18px;
}

.menu-icon {
  height: 30px;
  width: 30px;
}

.nav-links {
  background-color: white;
  width: 100%;
}

li {
  list-style: none;
}

li,
a {
  text-decoration: none;
  color: black;
  margin-right: 8px;
}

.search {
  height: 20px;
  width: 20px;
}

.user {
  height: 20px;
  width: 30px;
}

.links1,
.links2 {
  font-size: 16px;
}

.links2 {
  color: #808080;
  text-transform: uppercase;
}

hr {
  color: #ccc;
}

.inTheMagImg {
  height: 280px;
  width: 257px;
}

.features {
  background-color: #f72210;
  color: white;
}

.opinion {
  color: #f72210;
}

.ep-img {
  height: 170px;
  width: 250px;
}

.ep-cap {
  font-family: Arial, Helvetica, sans-serif;
}

.inMagTitle {
  font-size: 22px;
}

.news-main {
  max-width: 100px;
}

.news-main2 {
  height: 230px;
  width: 350px;
}

.page-footer {
  background-color: aqua;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: red;
  color: black;
}

.b-sr {
  background-color: #f0e7e8;
}

.opacity {
  opacity: 0.8;
}

.vs-container {
  height: 5px;
}

.vs-icon {
  width: 30px;
  height: 30px;
}

.ms-image {
  max-width: initial;
}

.ms-p {
  font-size: 14px;
  line-height: 15px;
}

.my-turn-text {
  display: block;
  font-size: 16px;
}

.opinion-img {
  height: 60px;
  width: 60px;
}

.sign-up-form {
  width: 300px;
  height: auto;
}

.mini-logo {
  height: 30px;
  width: 30px;
}

.mobile {
  display: none;
}

@media screen and (min-width: 900px) and (max-width: 2400px) {
  .menu-icon {
    display: none;
  }

  .user {
    display: none;
  }

  .newsweek-logo {
    width: 500px;
  }

  .links1,
  .links2 {
    font-size: 14px;
  }

  .ranking-insight {
    max-width: 500px;
  }
}

@media screen and (max-width: 700px) {
  .navbar2 {
    display: none;
  }

  .date {
    display: none;
  }

  .newsweek-logo {
    display: flex;
    justify-content: flex-start;
    height: 100px;
    width: 100px;
  }

  .login {
    display: none;
  }
}

@media screen and (min-width: 700px) and (max-width: 900px) {
  .desktop-tablet {
    display: flex;
  }

  .newsweek-logo {
    display: flex;
    justify-content: flex-start;
    height: 100px;
    width: 200px;
  }

  .links1,
  .links2 {
    display: flex;
    font-size: 10px;
  }
}

.img-a {
  position: relative;
  left: 40px;
  bottom: 20px;
}

.img-b {
  position: relative;
  right: 40px;
}

.img-subscribe-container {
  height: 250px;
  margin-top: 30px;
}

.bg-red {
  background-color: red;
}

.text-red {
  color: red;
}

.bg-gray {
  background-color: #f4f5f6;
}

.subscribe {
  max-width: 650px;
}

.gray {
  color: #666;
}
