nav {
  font-family: 'Roboto', sans-serif;
}

.navbar2 {
  margin-top: 10px;
}

.container-fluid {
  display: block;
  justify-content: space-between;
  max-width: 1380px;
}

.date {
  color: white;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  margin-left: 10px;
  margin-right: 100px;
}

.newsweek-logo {
  height: 100px;
  width: 500px;
  margin-left: 70px;
  margin-right: 70px;
}

.login-sub {
  display: flex;
}

.login {
  color: white;
  text-decoration: none;
  font-size: 16px;
  margin-top: 4px;
  margin-right: 10px;
}

.btn {
  display: block;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 24px;
  font-weight: 700;
}

.right-arrow {
  width: 18px;
  height: 18px;
  margin-bottom: 3px;
}

.menu-icon {
  height: 30px;
  width: 30px;
}

.nav-links {
  background-color: white;
  width: 100%;
}

li {
  list-style: none;
}

li,
a {
  text-decoration: none;
  color: black;
  margin-right: 8px;
}

.links-top,
.links-bottom {
  display: flex;
  justify-content: left;
}

.search {
  height: 20px;
  width: 20px;
}

.links1,
.links2 {
  font-size: 16px;
  font-weight: 900;
}

.links2 {
  color: #808080;
  text-transform: uppercase;
}

hr {
  color: #ccc;
}

@media screen and (min-width: 800px) and (max-width: 1190px) {
  .menu-icon {
    display: none;
  }

  .newsweek-logo {
    width: 200px;
  }

  .links1,
  .links2 {
    font-size: 12px;
  }
}

@media screen and (max-width: 800px) {
  .navbar2 {
    display: none;
  }

  .date {
    display: none;
  }

  .newsweek-logo {
    display: flex;
    justify-content: flex-start;
    height: 100px;
    width: 100px;
    margin-left: 0;
  }
}

.main {
  padding: 400px;
}

footer {
  padding-bottom: 50px;
}

.page-footer {
  background-color: aqua;
}

li a:hover {
  text-decoration: underline;
  color: red;
}

.b-sr {
  background-color: #f0e7e8;
}

.opacity {
  opacity: 0.8;
}

.vs-container {
  height: 5px;
}

.vs-icon {
  width: 30px;
  height: 30px;
}

.ms-image {
  height: 100px;
  width: 100px;
}

.ms-p {
  font-size: 14px;
  line-height: 15px;
}

.my-turn-text {
  display: block;
  font-size: 16px;
}

.sign-up-form {
  width: 300px;
  height: auto;
}

.mini-logo {
  height: 30px;
  width: 30px;
}

.mobile {
  display: none;
}

@media screen and (max-width: 800px) {
  .mobile {
    display: flex;
  }

  .desktop-tablet {
    display: flex;
  }
}

.img-a {
  position: relative;
  left: 40px;
  bottom: 20px;
}

.img-b {
  position: relative;
  right: 40px;
}

.w-fit {
  width: fit-content;
}

.img-subscribe-container {  
  height: 250px;
  margin-top: 30px;
}

.bg-red {
  background-color: red;
}

.text-red {
  color: red;
}

.bg-gray {
  background-color: #f4f5f6;
}

.subscribe {
  max-width: 650px;
}